body{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.Featured_img{
    height: 100px;
    width: 300px;
}

p{
    margin: 0px 0px !important;
    
}

.header_tag{
    color: grey;
}
 .header_tag .line {
    width: 100px;
    height: 2px;
    background-color: grey;
    margin: 25px auto;
    
}

.Feature_product h3{
    color: gray;
}
.newsettler h3,p {
color: grey;
}

